.text-small {
    font-size: 0.9rem !important;
}

.header {
    background-color: #00d2ff;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 100%);
    
}




.section-1 {
    background: #f5f5f5;
}

.section-2 {
    background: #F1F1F1;
}

.section-3 {
    background: #EAEAEA;
}

.section-4 {
    background: #E5E5E5;
}


.myhomeImg{

    width: 45%;
    display: flex;
    height: 370px;
    border: none;
    border-radius: 50px;
  
  }


  #row {
    display: flex;
  }
  
  #column {
    flex: 50%;
  }
  

 

.counter-box {
	display: block;
	background: #f6f6f6;
	padding: 40px 20px 37px;
	text-align: center
}

.counter-box p {
	margin: 5px 0 0;
	padding: 0;
	color: #909090;
	font-size: 18px;
	font-weight: 500
}

.counter-box i {
	font-size: 60px;
	margin: 0 0 15px;
	color: #d2d2d2
}

.counter { 
	display: block;
	font-size: 32px;
	font-weight: 700;
	color: #666;
	line-height: 28px
}

.counter-box.colored {
      background: rgb(0, 81, 255);
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
	color: #fff
}



  
  #vid{
  
     width: 50%;
     margin-top: 3%;
     padding-left: 25%;
     padding-right: 25%;
     height: 250px;
  
  }
  


.welcomeAnimation a {
    text-decoration: none;
    color: inherit;
    font-size: 12px;
  }
  
  .welcomeAnimation p {
    font-weight: 800;
    text-align: center;
    font-size: 15px;
    font-family: Hack, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(90deg, white, SNOW, white);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 8s linear infinite;
    position: relative;
  }
  
  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    25% {
      background-position-x: -250%;
    }
    50% {
      background-position-x: -0%;
    }
    75% {
      background-position-x: 250%;
    }

    100% {
      background-position-x: 500%;
    }
  }
  
  